@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";

:root {
  font-family: Poppins;
  --text-font: Montserrat;
  --gray-light: 208, 208, 208;
  --primary: 59, 130, 246;
  --secondary: 255, 246, 234;
  --black: 40, 40, 40;
  --red: 255, 59, 48;
  --xs: 480px; /* small mobile screen */
  --sm: 640px; /* tablet screen */
  --md: 768px; /* medium screen */
  --lg: 1024px; /* laptop screen */
  --xl: 1280px; /* desktop screen */
  --xxl: 1536px; /* max screen */
}

html {
  color: rgba(var(--black), 0.85);
}

/* reset css starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

/* basic borders needed */
.bd-none {
  border: none;
}

.bd-def {
  border: 1.5px solid rgba(var(--black), 0.75);
}
.bd-pri {
  border: 1.5px solid rgba(var(--primary), 0.75);
}

/* basic borders needed */

/* heading */
.head1 {
  font-size: 3rem;
  line-height: 4rem;
}
.head2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.head3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.head4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.head5 {
  font-size: 0.5rem;
  line-height: 1rem;
}

/* text */
.text1 {
  font-size: 3rem;
  line-height: 4rem;
}
.text2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.text3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text5 {
  font-size: 0.5rem;
  line-height: 1rem;
}

/* text-font sizes */
.t1 {
  font-size: 3rem;
}
.t2 {
  font-size: 2rem;
}
.t3 {
  font-size: 1.5rem;
}
.t4 {
  font-size: 1rem;
}
.t5 {
  font-size: 0.5rem;
}

/* font-weight */
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}
.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-black {
  font-weight: 900;
}

/* typography ends here */

/* border radius starts*/

.br-small {
  border-radius: 5px;
}

.br-mid {
  border-radius: 10px;
}

.br-large {
  border-radius: 15px;
}

.br-full {
  border-radius: 999px;
}
/* border radius ends here*/

/* forms input fields  */

/* update the below input from components input folder ----------------------------------------------------------*/
.input {
  position: relative;
  width: max-content;
}

input:focus {
  outline: none;
}

input {
  border: 1.5px solid rgba(var(--gray-light), 1);
  padding: 5px 8px;
}

.input i {
  position: absolute;
  display: none;
  color: rgba(var(--red), 1);
  font-size: inherit;
  top: 5px;
  right: 8px;
}

input:invalid {
  border-color: rgba(var(--red), 0.75);
}
.input input:invalid ~ i {
  display: block;
}

/* gloabl container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  height: max-content;
  padding: 0.5rem;
}

.section {
  width: 100vw;
  padding: 1.2rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
