<link rel="stylesheet" href="./index.css" />

<div class="grid_comp m1">
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
  <img class="grid_item" src="https://picsum.photos/250" alt="" />
</div>

<script src="./index.js"></script>
