<link rel="stylesheet" href="./index.css" />

<div class="container gap m2">
  <ul class="list_comp list_comp--last-border">
    <h1 class="list_heading head3">Heading</h1>
    <li class="list_item">Lorem Ipsum 1</li>
    <li class="list_item">Lorem Ipsum 2</li>
    <li class="list_item">Lorem Ipsum 3</li>
    <li class="list_item">Lorem Ipsum 4</li>
    <li class="list_item">Lorem Ipsum 5</li>
    <li class="list_item">Lorem Ipsum 6</li>
    <li class="list_item">Lorem Ipsum 7</li>
  </ul>
</div>
