<link rel="stylesheet" href="./index.css" />

<header class="header">
  <div class="header_brand">
    <h1 class="t3">Ecom Store</h1>
  </div>

  <button class="header_toggle">
    <span class="header_burger"></span>
    <span class="header_burger"></span>
    <span class="header_burger"></span>
  </button>

  <div class="header_links">
    <div class="header_link flex">
      <div
        class="badge t3 m0"
        icon="false"
        content="2"
        position="t-right"
        color="sec"
      >
        <i class="far fa-heart"></i>
      </div>
      <div class="header_mobile .text4">Wishlist</div>
    </div>
    <div class="header_link flex">
      <div
        class="badge t3 m0"
        icon="false"
        content="5"
        position="t-right"
        color="sec"
      >
        <i class="fas fa-shopping-cart"></i>
      </div>
      <p class="text4 ml1">Cart</p>
    </div>
    <div class="header_link"><button>Login</button></div>
  </div>
</header>

<script src="./index.js"></script>
