@import url(/CSS/global.css);

.rating_comp {
  display: grid;
  grid-template-areas: "overflow";
}

.rating_back {
  height: 100%;
  grid-area: overflow;
  background-color: rgb(255, 196, 0);
}

.rating_stars {
  position: relative;
  grid-area: overflow;
  /* margin: 4px; */
  display: flex;
  width: max-content;
  height: max-content;
}

.rating_star {
  width: max-content;
  height: max-content;
  padding: 0px;
  margin: 0rem;
  font-size: 1.2rem;
  z-index: 10;
  background-color: rebeccapurple;
}

.rating_star i {
  color: white;
  background-color: white;
  margin: 1px;
}
