<link rel="stylesheet" href="./index.css" />

<div class="container m2">
  <div class="rating_comp">
    <div class="rating_stars">
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
      <div class="rating_star"><i class="fas fa-star-half"></i></div>
    </div>
  </div>
</div>

<script src="./index.js"></script>
