<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="./index.css" />

<div class="container m2">
  <button class="modal_toggle btn-pri" ModalId="modal1">Open The Modal</button>

  <div class="modal" id="modal1">
    <div class="modal_content br-large">
      <h2 class="modal_heading">Modal Heading</h2>
      <div class="modal_body">this is the body of the Modal</div>
      <div class="modal_actions">
        <button class="modal_actionBtn">Action 1</button>
        <button class="modal_actionBtn">Action 2</button>
      </div>
    </div>
  </div>
</div>

<script src="./index.js"></script>
