<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="./index.css" />

<div class="container m2">
  <button class="btn-pri snackbar_toggle" SnackbarId="snackbar1">
    Open Snackbar
  </button>
</div>

<div class="snackbar snackbar--baseline" id="snackbar1">
  <p class="snackbar_para">
    Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit
    amet.Lorem ipsum dolor sit amet.
  </p>
  <button class="snackbar_close">
    <i class="far fa-times-circle"></i>
  </button>
</div>

<script src="./index.js"></script>
