<link rel="stylesheet" href="./index.css" />

<div class="container gap">
  <div>
    <h1 class="head1">Heading 1</h1>
    <h2 class="head2">Heading 2</h2>
    <h3 class="head3">Heading 3</h3>
    <h4 class="head4">Heading 4</h4>
    <h5 class="head5">Heading 5</h5>
  </div>
  <div>
    <h1 class="text1">Lorem Ipsum 1</h1>
    <h2 class="text2">Lorem Ipsum 2</h2>
    <h3 class="text3">Lorem Ipsum 3</h3>
    <h4 class="text4">Lorem Ipsum 4</h4>
    <h5 class="text5">Lorem Ipsum 5</h5>
  </div>
  <div>
    <h1 class="t3 text-light">text-bold 1</h1>
    <h2 class="t3 text-regular">text-bold 2</h2>
    <h3 class="t3 text-semibold">text-bold 3</h3>
    <h4 class="t3 text-bold">text-bold 4</h4>
    <h5 class="t3 text-black">text-bold 5</h5>
  </div>
</div>
